source https://api.nuget.org/v3/index.json

storage: none

group Libraries
    source https://api.nuget.org/v3/index.json
    nuget DotNetEnv
    nuget Npgsql.EntityFrameworkCore.PostgreSQL
    nuget Npgsql
    nuget supabase

group GUI
    source https://api.nuget.org/v3/index.json
    nuget Avalonia
    nuget Avalonia.Desktop
    nuget Avalonia.Fonts.Inter
    nuget Avalonia.ReactiveUI
    nuget Avalonia.Themes.Fluent
